a.brand-logo {
    font-weight: 300;
    margin-left: 1%;
}

#dessin{
    width: 100%;
}

#zone_dessin canvas{
    position: absolute;
    right:8px;
    top: 3px;
    border: 1px solid #aaa;
    cursor: crosshair;
}

div#tools {
    position: relative;
    display: block;
    margin-top: 13%;
    float: right;
    background: #0277bd;
    padding: 20px 10px 20px 20px;
}

div#tools li{
    color: #FFF;
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

div#tools li i{
    transition: all  0.3s;  
}

div#tools li:hover i{
    opacity: 0.7;
    transform: scale(1.2);
}

.tool_selected i{
   color: #2E2E2E;
}

.selected {
    border: 7px solid #0277bd;
    padding: 7px;
}

div#palette {
    position: fixed;
    bottom: 0px;
    right: 2px;
}

#palette li {
    display: inline-block;
    padding: 15px;
    margin-right: 5px;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
    list-style: none;
}

#palette li:hover {
    padding: 20px;
    opacity: 0.8;
}


h2.title_loading {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFF;
    font-size: 6em;
    padding-top: 9%;
}

.logo_loader{
    width: 13%;
}

.block_loader{
    margin-top: 7%;
    animation: infinite-spinning 2s infinite;
}

.none{
    display: none;
    visibility: none;
    width: 0px!important;
    height: 0px!important;
}

.loader{
    width: 100%;
    display: block;
    position: fixed;
    background-color: #0277BD;
    z-index: 99999;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}